/********* Main Document ***********/
body {
  /* background-color: #343233 !important; */
  background-color: #2a2f32 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/********* HomePage Component ***********/
.bigger-text-container {
  margin-bottom: 50px;
}

.circle {
  background: #efdab9;
  border-radius: 50%;
  height: 10px;
  left: 100px;
  top: 150px;
  position: absolute;
  width: 10px;
}

.description-main-container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-text {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
}

.description-text-container {
  /* border: 1px solid green; */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  /* margin-left: 80px; */
  width: 80%;
}

.entice-message {
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  margin-left: 40px;
}

#graphicOne {
  margin-bottom: 35px;
  margin-top: 50px;
  width: 600px;
}

#graphicTwo {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 80px;
  /* margin-right: 120px; */
  width: 45%;
}

.homepage-body-container {
  display: flex;
  flex-direction: row;
  color: #efdab9 !important;
  font-weight: 300 !important;
}

.homepage-main-container {
  display: flex;
  flex-direction: column;
  color: #efdab9 !important;
  font-weight: 300 !important;
}

.image-container {
  align-items: center;
  /* border: 1px solid aqua; */
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 100%;
}

#lineOne {
  background: #659cc8;
  border-radius: 3px;
  height: 12px;
  margin-bottom: 25px;
  margin-left: 15px;
  width: 380px;
}

#lineTwo {
  background: #78af9f;
  height: 12px;
  border-radius: 3px;
  margin-left: 70px;
  width: 380px;
}

#lineThree {
  background: #c13f21;
  border-radius: 3px;
  height: 12px;
  margin-bottom: 25px;
  margin-left: 15px;
  width: 380px;
}

#lineFour {
  background: #d36e2d;
  border-radius: 3px;
  height: 12px;
  margin-left: 70px;
  width: 380px;
}

.lower-lines-container {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

p {
  /* border: 1px solid white; */
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0.05em;
  width: 100%;
}

.register-form-container {
  align-items: center;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 100%;

}

.register-main-container {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.smaller-paragraph {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0.01em !important;
  margin-bottom: 40px;
  width: 100%;

}

.upper-lines-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 150px;
  width: 100%;
}

/********* Navbar Component ***/
.navbar-logo-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: 0.04em !important;
}

.navbar-main-container {
  /* background-color: #c13f21; */
  background-color: #584b4f;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-between;
  height: 35px;
  width: 100%;
}

.navbar-options-container {
  align-items: flex-end;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  font-size: 1.0em;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: 0.04em !important;
  width: 14%;
}

/********* RegisterForm Component ***********/
.form-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}

.form-div-button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-names-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

input {
  color: white;
  border-radius: 10px;
  font-size: 22px !important;
  font-weight: 500;
  background-color: #ffd152;
  border: 1px solid #ffd152;
  border-style: solid !important;
  box-shadow: none !important;
  height: 30px;
}

input:focus {
  outline: none;
  box-shadow: outset 0px 0px 0px 0px white;
 
  border: 2px solid white;
}

input:hover {
  outline: none;
  box-shadow: outset 0px 0px 0px 0px white;
  border: 2px solid white;
}

.long-input {
  width: 45%;
}

.register-button {
  background-color: #ffd152;
  border: none;
  border-radius: 10px;
  color: #2a2f32;
  font-size: 18px !important;
  font-weight: 500 !important;
  height: 35px;
  margin-top: 25px;
  /* margin-left: 300px !important; */
  width: 100px;
}

.register-button:hover {
  background-color: #efdab9;
  box-shadow: outset 0px 0px 0px 0px white;
}

.register-button:focus {
  background-color: #efdab9;
  box-shadow: outset 0px 0px 0px 0px white;
  outline: none;
}

.register-form {
  /* border: 1px solid pink; */
  display: flex;
  flex-grow: 4;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 70%;
}

/********* Onboard Component ***********/
button {
  background-color: #2a2f32;
  border: none;
  border-radius: 10px;
  color: #efdab9;
  font-size: 20px !important;
  font-weight: 200 !important;
  height: 35px;
  margin-top: 25px;
  width: 140px;
}

button:focus {
  background-color: #ffd152;
  border-radius: 12px;
  box-shadow: none;
  color: #2a2f32;
  outline: none !important;
}

.column {
  display: grid;
  /* border: 1px solid white; */
  height: 100px;
  width: 100%;
}

#c1 {
  /* border: 1px solid white; */
  margin-left: 100px;
  margin-top: 10px;
}

#c2 {
  /* border: 1px solid white; */
  margin-left: 1100px;
  margin-top: -10px;
}

#c3 {
  /* border: 1px solid white; */
  margin-left: 300px;
  margin-top: 10px;
}

#c4 {
  /* border: 1px solid white; */
  margin-left: 600px;
  margin-top: 20px;
}

#c5 {
  /* border: 1px solid white; */
  margin-left: 80px;
  margin-top: -30px;
}

#c6 {
  /* border: 1px solid white; */
  margin-left: 1000px;
  margin-top: 5px;
}

#c7 {
  /* border: 1px solid white; */
  margin-left: 100px;
  margin-top: 10px;
}

#c8 {
  /* border: 1px solid white; */
  margin-left: 900px;
  margin-top: -10px;
}
 
.onboard-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #efdab9 !important;
  font-weight: 300 !important;
}

.identities-container {
  border: 1px solid #efdab9;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quiz-message-big {
  font-size: 2.0em;
  font-weight: 200;
  letter-spacing: 0.06em;
  margin-top: 20px;
}

.quiz-messages-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}